<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" colors="true" verbose="false" bootstrap="./vendor/autoload.php" failOnWarning="false" convertErrorsToExceptions="false" convertNoticesToExceptions="false" convertWarningsToExceptions="false" processIsolation="false" stopOnError="false" stopOnFailure="false" stopOnIncomplete="false" stopOnSkipped="false" stopOnRisky="false" backupGlobals="false" forceCoversAnnotation="false" beStrictAboutCoversAnnotation="true" beStrictAboutOutputDuringTests="true">
	<coverage/>
	<testsuites>
		<testsuite name="Tests">
			<directory suffix="Test.php">./Tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
